.home-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/home.jpeg);
}

header {
    background-size: cover;
    background-position: center;
}

.blog-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/home_past.JPG);
    background-size: cover;
    background-position: center;
}
  
glowbtn{
  position:relative;
  border:none;
  transition: 1s ease-in;
  z-index:1;
}
.glowbtn:hover{
  background:#ff96ad;
  box-shadow:0 0 5px #ff96ad,0 0 25px #ff96ad,0 0 50px #ff96ad,0 0 200px #ff96ad;
}
  @keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .spldesign {
    font-size: clamp(2.8rem, 1.5vw, 3rem);
    font-weight: bold;
    margin: 5px;
    background: linear-gradient(
      to right,
      #ffcc00 20%,
      #00affa 30%,
      #0190cd 70%,
      #ffff00 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

